     .jumbotron{
         background-color: gainsboro;
         color: black;
     }

       footer{
           padding: 10px 10px 0 10px;
           background-color: grey;
           margin-bottom: 0px;
       }
